[Unit]
After=network-online.target
Description=ROS2 Tank Services


[Service]
User=neil
Group=neil
WorkingDirectory=/home/neil/tank_ws
ExecStart=/bin/bash -c 'source /opt/ros/kilted/setup.bash && source install/setup.bash && ros2 launch tank_bringup tank.launch.xml'
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
