[Unit]
After=network-online.target
Description=ROS2 Tank Services


[Service]
User=neil
Group=neil
WorkingDirectory=/home/neil/ros2-tank
ExecStart=/home/neil/.pixi/bin/pixi run run_robot
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
